.footer {
  max-width: 318px;
  margin-top: 65px;
  padding-bottom: 60px;
  flex: 0 0 auto;
}

.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}
